body {
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
}

.container {
    width: 100%;
    height: 30pc;
    padding-left: 27%;
    margin-top: 20pc;
}

span {
    font-size: 100px;
    cursor: pointer;
}

.gold {
    color: gold;
}