* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgba(214, 175, 125, 0.867);
}

.container {
  width: auto;
  height: auto;
  margin-top: 9pc;
}

.container .button-toast-box {
  margin-left: 32pc;
}

.button-toast-box button {
  margin: 10px;
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
  cursor: pointer;
}

.toast-container {
  margin-top: 8pc;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  /* font-size: large; */
}

.toast {
  background-color: green;
  width: 23rem;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  border-radius: 12px;
  font-size: 1.3rem;
  color: whitesmoke;
  position: relative;
  animation: slide 1s 1;

  span {
    position: absolute;
    right: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@keyframes slide{
  0%{
    transform:translateX(100%);
  }

  100%{
    transform: translateX(0%);
  }
}